 
.page.theme_dark {
  --basic-text-color: #f1b2ce;
  --second-text-color: #000028;
  --accent-color: #ff0070;
  --background-color: #000028;
  --header-text-color: #db00ff;
  --shadow-color: #ff0070;
  background-image: url("/images/cover-image-dark.png");
}

.page.theme_dark .decorated-zone::before,
.page.theme_dark .decorated-zone::after {
  border-color: var(--accent-color);
}

.page.theme_dark .rec-icon {
  color: var(--accent-color);
}

.page.theme_dark .rec-icon::after {
  background-color:  var(--accent-color);
  filter: drop-shadow(0px 0px 4px #ff0070);
}


.page.theme_dark .header__theme-menu-button {
  color: var(--accent-color);
}

.page.theme_dark .heading {
  color: var(--accent-color);
}

.page.theme_dark .title-decor {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}

.page.theme_dark .text-link {
  text-shadow: 1px 1px 0px var(--accent-color);
}

@media (prefers-color-scheme: dark) {

  .rec-icon {
    color: var(--accent-color);
  }

  .rec-icon::after {
    background-color:  var(--accent-color);
    filter: drop-shadow(0px 0px 4px #ff0070);
  }
}


 
