.page.theme_light {
  --background-color: #fff1f7;
  --basic-text-color: #353430;
  --second-text-color: var(--basic-text-color);
  --header-text-color: #ffc2e6;
  --accent-color: #ff8dcd;
  --shadow-color: #ff0070;
  background-image: url("/images/cover-image-light.png");
}

.page.theme_light .decorated-zone::before,
.page.theme_light .decorated-zone::after {
  border-color: var(--basic-text-color);
}

.page.theme_light .rec-icon {
  display: none;
}

.page.theme_light .header__theme-menu-button {
  color: var(--basic-text-color);
}

.page.theme_light .heading {
  color: var(--basic-text-color);
}

.page.theme_light .header__heading {
  text-shadow: 4px 4px 0px var(--accent-color);
}

.page.theme_light .text-link {
  text-shadow: 1px 1px 0px var(--accent-color);
}

.page.theme_light .footer__heading {
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --basic-text-color: #353430;
    --second-text-color: var(--basic-text-color);
    --header-text-color: #ffc2e6;
    --accent-color: #ff8dcd;
    --shadow-color: #ff0070;
  }

  .page {
    background-image: url("/images/cover-image-light.png");
  }

  .decorated-zone::before,
  .decorated-zone::after {
    border-color: var(--basic-text-color);
  }

  .rec-icon {
    display: none;
  }

  .header__theme-menu-button {
    color: var(--basic-text-color);
  }

  .heading {
    color: var(--basic-text-color);
  }

  .header__heading {
    text-shadow: 4px 4px 0px var(--accent-color);
  }

  .text-link {
    text-shadow: 1px 1px 0px var(--accent-color);
  }

  .footer__heading {
    text-shadow: 4px 4px 0px var(--accent-color);
  }

}


 
