.page.theme_light {
  --background-color: #fff1f7;
  --basic-text-color: #353430;
  --second-text-color: var(--basic-text-color);
  --header-text-color: #ffc2e6;
  --accent-color: #ff8dcd;
  --shadow-color: #ff0070;
  background-image: url("/images/cover-image-light.png");
  background-image: image-set(
    url("/images/cover-image-light.avif") type("image/avif") 1x,
    url("/images/cover-image-light.avif") type("image/avif") 2x,
    url("/images/cover-image-light.webp") type("image/webp") 1x,
    url("/images/cover-image-light.webp") type("image/webp") 2x,
    url("/images/cover-image-light.png") 1x,
    url("/images/cover-image-light.png") 2x,
  );
  background-image: -webkit-image-set(
    url("/images/cover-image-light.png") 1x,
    url("/images/cover-image-light.png") 2x,
  );
}

.page.theme_light .decorated-zone::before,
.page.theme_light .decorated-zone::after {
  border-color: var(--basic-text-color);
}

.page.theme_light .rec-icon{
  display: none;
}

.page.theme_light .header__theme-menu-button {
  color: var(--basic-text-color);
}
.page.theme_light .heading {
  color: var(--basic-text-color);
}

.page.theme_light .text-link {
  text-shadow: 1px 1px 0px var(--accent-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --basic-text-color: #353430;
    --second-text-color: var(--basic-text-color);
    --header-text-color: #ffc2e6;
    --accent-color: #ff8dcd;
    --shadow-color: #ff0070;
  }

  .page {
    background-image: url("/images/cover-image-light.png");
    background-image: image-set(
      url("/images/cover-image-light.avif") type("image/avif") 1x,
      url("/images/cover-image-light.avif") type("image/avif") 2x,
      url("/images/cover-image-light.webp") type("image/webp") 1x,
      url("/images/cover-image-light.webp") type("image/webp") 2x,
      url("/images/cover-image-light.png") 1x,
      url("/images/cover-image-light.png") 2x,
    );
    background-image: -webkit-image-set(
      url("/images/cover-image-light.png") 1x,
      url("/images/cover-image-light.png") 2x,
    );
  }

  .decorated-zone::before,
  .decorated-zone::after {
    border-color: var(--basic-text-color);
  }

  .rec-icon{
    display: none;
  }

  .header__theme-menu-button {
    color: var(--basic-text-color);
  }

  .heading {
    color: var(--basic-text-color);
  }

  .text-link {
    text-shadow: 1px 1px 0px var(--accent-color);
  }
}


