/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--background-color);
  color: var(--basic-text-color);
}

.content-section {
  padding: 0 5vi;
}

.heading {
  color: var(--accent-color);
font-family: var(--main-font, sans-serif), 'IBM Plex Mono', 'Arial', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.3;
}


